@font-face {
    font-family: "Inter";
    src: url(Inter/static/Inter_24pt-Regular.ttf);
}

* {
  all: revert;
  margin: 0;
  font-family: "Inter";
  font-weight: lighter;
}

header {
  background-color: #7761FF;
  padding: 18px; 
}

.head_logo > img {
  height: 50px;
  margin-left: 60px;
}

.head_title{
  font-size: 30px;
  margin-left: 50px;
  margin-bottom: 20px;
  vertical-align: 10px;
}

nav {
  background-color: #6552DA;
  padding: 14px; 
}

.first_span {
  margin-left: 140px;
}

.login_span {
  margin-left: 600px;
}

nav > span {
  margin-left: 30px;
  font-size: 20px;
  vertical-align: -12px;
}

nav > img {
  height: 40px;
  vertical-align: top;
  margin-left: 15px;
}

th {
    font-weight: lighter;
}

footer {
  background-color: #7761FF;
  padding: 20px; 
  font-size: 22px;
}

td > img {
  height: 50px;
  vertical-align: top;
}

.footer_f_img {
  margin-left: 530px;
}

td > span {
  margin-left: 50px;
  vertical-align: -13px;
}

button {
  background-color: #ffffff;
  border-radius: 9px;
  text-align: center;
}

/* Add padding to containers */
.container {
  padding: 30px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #7761FF;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

main {
    padding: 50px;
}